<h1>Login</h1>

<%= form_for :session, url: login_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Login", class: "btn btn-success", method: :post %>
<% end %>
